:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html , body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(141, 0, 255);
}

.card {
    width: 800px;
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "image faq";
    justify-items: center;
    align-items: center;
}

.card-img {
    grid-area: image;
}

.card-img img {
    position: relative;
    right: 100px;
}

.card-faq {
    grid-area: faq;
    padding: 30px;
}

.card-faq h1 {

}

.card-faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card-faq-question p {
    flex-shrink: 1;
    flex-basis: 90%;
    color: rgb(135, 131, 142);
}

p.answer {
    width: 100%;
    margin-right: 10px; 
}

.card-faq-question p b {
    color: black;
}

.card-faq-question img {
    height: 10px;
}

@media screen and (max-width: 376px) {
    body {
        align-items: flex-start;
    }

    .card {
        width: 90%;
        margin-top: 20%;
        background-color: white;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr;
        grid-template-areas: 
            "image"
            "faq";
        justify-items: center;
        align-items: start;
    }

    .card-img {
        height: ;
    }

    .card-img img {
        height: 150px;
        position: relative;
        bottom: 50px;
        left: calc(50% - 75px);
    }

    .card-faq {
        padding: 15px;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .card-faq h1 {
        margin: 10px;
        align-self: center;
    }
}