:root {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    display: flex;
    justify-content: center;
}

.card {
    width: 300px;
    height: auto;
    background-image: linear-gradient(gray, whitesmoke);
    border-radius: 10px;
    box-shadow: 1px 2px 5px gray;
    margin: 20px;
    flex: 0 1 300px;
}

/* Card header */
.card-header {
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-header-profile img {
    border-radius: 50%;
}

.card-header-profile {
    display: flex;
    align-items: center;
}

.card-header-contact {
    padding-left: 10px;
}

.card-header-contact .card-header-content-username {
    font-weight: 500;
}

.card-header-contact .card-header-content-date {
    color: whitesmoke;
}

.card-menu {
    padding-right: 20px;
}

.card-menu img{
    height: 30px;
    width: auto;
    fill: black;
    transform: rotate(90deg);
}

/* Card content */ 
.card-content img {
    width: 100%
}


/* Card footer */

.card-footer-social {
    height: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

.card-footer-social img {
    height: 20px;
    padding: 5px;
}

.card-footer-content {
    padding: 5px;
    padding-bottom: 10px;
} 

/* Tablet Responsibe design */

@media screen and (max-width: 768px) {
    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 20px;
    }

    .card {
        width: 100%;
        margin: 0px;
    }
}

@media screen and (max-width: 375px) {
    section {
        display: flex;
        flex-direction: column;
    }
}