:root {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    display: flex;
}

.card {
    width: 300px;
    height: auto;
    background-image: linear-gradient(gray, whitesmoke);
    border-radius: 10px;
}

/* Card header */
.card-header {
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-header-profile img {
    border-radius: 50%;
}

.card-header-profile {
    display: flex;
    align-items: center;
}

.card-header-contact {
    padding-left: 10px;
}

.card-header-contact .card-header-content-username {
    font-weight: 500;
}

.card-header-contact .card-header-content-date {
    color: whitesmoke;
}

.card-menu {
    padding-right: 20px;
}

.card-menu img{
    height: 30px;
    width: auto;
    fill: black;
    transform: rotate(90deg);
}


/* Card content */ 



/* Card footer */

.card-footer-social {
    height: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

.card-footer-social img {
    height: 20px;
    padding: 5px;
}

.card-footer-content {
    padding: 5px;
    padding-bottom: 10px;
} 